@import '../../global.scss';

*:focus {
    outline: 0;
}

.page{
    height: calc(100vh - 160px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    font-family: 'JetBrains Mono', monospace;

    .wrapper-0 {
        width: 70%;
        height: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7.5%;

        .topBar {
            background-color: var(--main-color);
            border-radius: 100px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .lengthSelectorBar {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;

                button {
                    color:var(--stat-text-color);
                    background-color: transparent;
                    border: none;
                    font-size: 18px;
                    margin: 0px 10px 0px 10px;
                }

                span {
                    color: var(--stat-text-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    font-size: 18px;
                    margin: 0px 10px 0px 10px;
                }

                .divider{
                    color: var(--main-accent-color);
                    margin:  0px 10px 0px 10px;
                }

                button:hover{
                    font-size: 18px;
                }

                .selected {
                   color: var(--main-accent-color);
                   transition: all 0.2s;
                }
            }
            
        }
    }

    .wrapper-1 {
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        .selectorButtons {
            width: 20px;
            height: 200px;
            width: 5%;
            position: absolute;
            left: -50px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            span{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--second-text-color);
                font-size: 100px;

                #nb{
                    font-size: 50px;
                }
                #re, #br {
                    font-size: 30px;
                }

                a{
                    color: var(--second-text-color);
                    display: flex;
                    align-items: center;
                }


                

                #re:hover{
                    color: var(--main-accent-color);
                    font-size: 30px;
                }
                #br:hover{
                    color: var(--main-accent-color);
                    font-size: 30px;
                }
                #nb:hover{
                    color: var(--main-accent-color);
                    font-size: 41px;
                }
           
            }
            
        }

        .gameWrapper {
            width: 80%;
            align-items: center;
            justify-content: center;
            display: flex;
            position: relative;

            .gameStartPrompt {
                color: var(--second-text-color);
                background-color: transparent;
                position: absolute;
                height: 100%;
                width: 93%;
                border-radius: 10px;
                display: flex;
                font-size: 20px;
                transition: all 0.2s;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                z-index: 1;
                
                #moi {
                    margin-right: 10px;
                }
            }


            .reference {
                color: var(--text-color);
                background-color: var(--second-accent-color);
                padding: 15px;
                width: 90%;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;  
                font-size: 20px;
                filter: blur(10px);
                opacity: 10%;
                transition: all 0.2s;

                div{
                    margin-right: 8px;
                }
    
                .onWord {
                    text-decoration: underline;
                    text-decoration-color:black;
                }
    
                .cursor {
                    background-color: aqua;
                }
    
                .wrong{
                    color: #E63946;
                }
    
                .correct{
                    color: green;
                }
    
            } 

            .reference.removeBlur {
                filter: none;
                opacity: 100%;
            }

            .test {
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                width: calc(90% + 30px);
                pointer-events: none;
                top: 120%;
                
                #progressChar{
                    color: var(--second-text-color);
                    position: absolute;
                    left: 0;
                }
                #progressWords {
                    color: var(--second-text-color);
                    position: absolute;
                    right: 0;
                }
            }

            #cdBox{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--stat-text-color);
                height: 50px;
                padding: 0px 15px 0px 15px;
                background-color: var(--main-color);
                border-radius: 10px;
                right: -25px;
                position: absolute;
            } 
            
        }

        .progressStats{
            background-color: var(--main-color);
            border-radius: 100px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: calc(5% - 40px);

            .timer{
                float: left;
                margin-left: 0;
            }
            
            .divider{
                color:var(--main-accent-color);
                margin:  0px 10px 0px 10px;
            }
            
            span {
                color: var(--stat-text-color);
                float: right;
                transition: all 0.2s;
                margin: 0px 10px 0px 10px;
            }
        }

        #overhead{
            width: 77.5%;
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
           
            .progressBar{

                width: 100%;
                min-height:5px;
                margin: 20px;
                text-align: center;
                position: relative;
                display: flex;
                flex-direction: row;

                #pp{
                    padding: 5px;
                    margin-left: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: var(--main-color);
                    color: var(--second-text-color);
                }

                .update {
                    background-color:var(--main-accent-color);
                    height: 80%;
                    transition: all 0.2s;
                    border-radius: 10px;
                }
            } 

        }

        

        .authorHolder{
            width: 73%;
            color: var(--main-accent-color);

            .author {
                float: right;
            }
        }



        .preGameFilter {
            filter: blur(5px);
        }
            
        
        .input{
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            

            .typingBox{
                width: 71.5%;
                padding: 20px;
                margin: 90px 20px 20px 20px;
                outline: none;
                border: none;
                background-color:transparent;
                border-bottom: solid 5px var(--main-accent-color);
                color: var(--second-text-color);
            } 
            
            ::placeholder{
                color: var(--second-accent-color);
                font-size: 18px;
                font-family: 'JetBrains Mono', monospace;
            }

        }
        

    }

    .secondWrapper {

        position: relative;

        .currentGameStats{

            height: 100%;
            width: 100%;

            // filter: blur(5px);

            .topBar {
            font-size: 18px;
            font-weight: 600;
            height: 10%;
            width: 100%;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            align-items: center;
            margin-top: 20px;


            .timer {
                position: absolute;
                left: 5%
            }
            .accuracy {
                position: absolute;
                right: 5%;
            }

        }
    }

        

        width: 50%;
        height: 40%;
        border-radius: 10px;
        background-color: transparent;
        border: solid var(--text-color) 5px;
        margin-bottom: 80px;

        .mainStats {
            position: relative;
            font-size: 18px;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            margin-top: 40px;

            .wpmTitle{
                position: absolute;
                left: 5%;
                margin-top: 60px;
            }

            .wpm{
                margin-left: 10px;
                margin-top: 60px;
                color: var(--main-accent-color);
            }

            .wpmBar {
                left: 15%;
                height: 80%;
                width: 0%;
                background-color: var(--second-accent-color);
                border-radius: 10px;
                margin-left: 15%;
                transition: all .2s;
                margin-top: 60px;
            }

            

            .divisor {
                background-color: var(--main-color);
                position: absolute;
                left: 13%;
                top: 10%;
                width: 5px;
                height: 200px;
            }
        }

        .cpmStats {

            position: relative;
            font-size: 18px;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            margin-top: 60px;


            .cpmTitle {
                position: absolute;
                left: 5%;
                
            }

            .cpmBar{
                height: 80%;
                width: 0%;
                background-color: var(--second-accent-color);
                border-radius: 10px;
                transition: all .2s;
                margin-left: 15%;
                
            }

            .cpm {
                margin-left: 10px;
                color: var(--main-accent-color);
            }
        }
            

    }
      
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
[hidden]{
    display:none !important;
}