@import '../../global.scss';

.page{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;

    .progressBar{
        width: 43%;
        height: 40px;
        margin: 20px;
        border: 1px solid $darkColor;
        text-align: center;

        p{
            position: absolute;
            color: $darkColor;
            right: 45%;
            font-size: 20px;
            margin-top: 5px;
            width: 10%;

        }
 

        .update {
            background-color:$mainColor;
            height: 100%;
            width: 0%;
            
        }
    }
    
    

    .wrapper {
        width: 50%;
        height: 40%;
        background-color: $darkColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 18px;
        border: solid 1px $darkBlue;

        

        .reference {
            background-color: #FBFCFF;
            color: $darkBlue;
            padding: 20px;
            margin: 20px;
            border-radius: 4px;
            width: 80%;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;  
            border: solid 1px $darkBlue;         

            div{
                margin-right: 8px;
            }

            .onWord {
                text-decoration: underline;
                text-decoration-color:black ;
            }

            .wrong{
                color: #E63946;
            }

                
            .cursor{
                content: '|';
                color: black;
            }

            .correct{
                color: green;
            }

                
            } 
            
        
        .input{
            display: flex;
            flex-direction: row;
            width: 88%;
            
            .countDown {
                width: 10%;
                height: 60px;
                margin: 20px 0px 20px 5px;
                border: solid 1px $darkBlue;  
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
            }
            
            .typingBox{
                width: 90%;
                padding: 20px;
                margin: 20px 20px 20px 0px;
                border-radius: 10px;
                border: solid 1px $darkBlue;  
                background-color: $bgColor;

            } 

        }
        

        }

        
        .stats{
<<<<<<< HEAD
        background-color: $darkColor;
        color: white;
=======
        background-color: #FBFCFF;
        color: $darkBlue;
>>>>>>> af9b2a5d68ea4f41997d2daaa1f61d85de0f9375
        padding: 10px 0px 10px 0px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        margin: 20px;
        border: solid 1px $darkBlue;
        height: 20%;

        .currentStats{
            width: 45%;

            div{
                margin: 35px;
            }
            
            }
            .historicalStats {
                width: 45%;
            }
        }
        .button {
            width: 50%;
            
            .nextBox {
                height: 50px;
                width: 120px;
                margin: 20px 0px 0px 20px;
                border-radius: 6px;
                float: right;  
                border: solid 1px $darkBlue;
                background-color: #FBFCFF;
            } 

        }
    
    
}

