@import '../../global.scss';

*:focus {
    outline: 0;
}

.page{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    font-family: 'JetBrains Mono', monospace;

    .wrapper-0 {
        background-color: #FFFFFF;
        width: 70%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;

        .topBar {
            background-color: #E63946;
            width: 75%;
            height: 40%;
            border-radius: 10px;
            display: flex;
            flex-direction: row;

            .lengthSelectorBar {
                width: 50%;
                height: 100%;
                background-color: aqua;
                display: flex;
                flex-direction: row;

                button {
                    width: 33%;
                }
            }
            
        }
    }

    .wrapper-1 {
        width: 70%;
        height: 50%;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        .selectorButtons {
            width: 20px;
            height: 200px;
            width: 5%;
            position: absolute;
            left: -50px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            span{
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $textColor;
                font-size: 100px;

                #nb{
                    font-size: 50px;
                }
                #re, #br {
                    font-size: 30px;
                }

                a{
                    color: $textColor;
                    display: flex;
                    align-items: center;
                }


                

                #re:hover{
                    color: $newAccentColor;
                    font-size: 30px;
                }
                #br:hover{
                    color: $newAccentColor;
                    font-size: 30px;
                }
                #nb:hover{
                    color: $newAccentColor;
                    font-size: 41px;
                }
           
            }
            
        }

        .gameWrapper {
            width: 80%;
            align-items: center;
            justify-content: center;
            display: flex;
            position: relative;
        }

        .progressStats{
            background-color: $newSecondMainColor;
            border-radius: 100px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .timer{
                float: left;
                margin-left: 0;
            }
            
            .divider{
                color:$newAccentColor;
                margin:  0px 10px 0px 10px;
            }
            
            span {
                color: $newBackGroundColor;
                float: right;
                transition: all 0.2s;
                margin: 0px 10px 0px 10px;
            }
        }

        #overhead{
            width: 77.5%;
            display: flex;
            flex-direction: row;
           
            .progressBar{

                width: 100%;
                min-height:5px;
                margin: 20px;
                text-align: center;
                position: relative;
                display: flex;
                flex-direction: row;

                #pp{
                    padding: 5px;
                    margin-left: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: $newSecondMainColor;
                    color: #FFFFFF;
                }

                .update {
                    background-color:$newAccentColor;
                    height: 100%;
                    transition: all 0.2s;
                    border-radius: 10px;
                }
            } 
            
            #cdBox{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $newBackGroundColor;
                height: 34px;
                padding: 0px 10px 0px 10px;
                background-color: $newSecondMainColor;
                border-radius: 10px;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 2%;
            } 

            #timeBox{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $newBackGroundColor;
                height: 34px;
                padding: 0px 10px 0px 10px;
                background-color: $newSecondMainColor;
                border-radius: 10px;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 2%;
            }
        }

        

        .authorHolder{
            width: 73%;
            color: $accentColor;

            .author {
                float: right;
            }
        }
        

        .reference {
            color: $newTextColor;
            background-color: $newSecondAccentColor;
            padding: 15px;
            border-radius: 4px;
            width: 90%;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;  
            font-size: 20px;
                
            div{
                margin-right: 8px;
            }


            .onWord {
                text-decoration: underline;
                text-decoration-color:black;
            }

            .cursor {
                background-color: aqua;
            }

            .wrong{
                color: #E63946;
            }

            .correct{
                color: green;
            }

                
            } 
            
        
            .input{
                display: flex;
                justify-content: center;
                flex-direction: row;
                width: 100%;
                
                
            .typingBox{
                width: 70%;
                padding: 20px;
                margin: 50px 20px 20px 20px;
                outline: none;
                border: none;
                background-color:transparent;
                border-bottom: solid 5px $newAccentColor;

                

            } 
            
            ::placeholder{
                color: $newSecondAccentColor;
                font-size: 18px;
                font-family: 'JetBrains Mono', monospace;
            }

        }
        

    }

    .secondWrapper {

        position: relative;

        .currentGameStats{

            height: 100%;
            width: 100%;

            // filter: blur(5px);

            .topBar {
            font-size: 18px;
            font-weight: 600;
            height: 10%;
            width: 100%;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            align-items: center;
            margin-top: 20px;


            .timer {
                position: absolute;
                left: 5%
            }
            .accuracy {
                position: absolute;
                right: 5%;
            }

        }
    }

        

        width: 50%;
        height: 40%;
        border-radius: 10px;
        background-color: transparent;
        border: solid $newTextColor 5px;
        margin-bottom: 80px;

        .mainStats {
            position: relative;
            font-size: 18px;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            margin-top: 40px;

            .wpmTitle{
                position: absolute;
                left: 5%;
                margin-top: 60px;
            }

            .wpm{
                margin-left: 10px;
                margin-top: 60px;
                color: $newAccentColor;
            }

            .wpmBar {
                left: 15%;
                height: 80%;
                width: 0%;
                background-color: $newSecondAccentColor;
                border-radius: 10px;
                margin-left: 15%;
                transition: all .2s;
                margin-top: 60px;
            }

            

            .divisor {
                background-color: $newSecondMainColor;
                position: absolute;
                left: 13%;
                top: 10%;
                width: 5px;
                height: 200px;
            }
        }

        .cpmStats {

            position: relative;
            font-size: 18px;
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            margin-top: 60px;


            .cpmTitle {
                position: absolute;
                left: 5%;
                
            }

            .cpmBar{
                height: 80%;
                width: 0%;
                background-color: $newSecondAccentColor;
                border-radius: 10px;
                transition: all .2s;
                margin-left: 15%;
                
            }

            .cpm {
                margin-left: 10px;
                color: $newAccentColor;
            }
        }

        .quoteLengthSelect {
            position: relative;
            font-size: 18px;
            width: 90%;
            height: 10%;
            display: flex;
            align-items: center;
            margin-top: 100px;
            left: 5%;

            .selectors {
                width: 80%;
                height: 90%;
                position: absolute;
                right: 0;
                display: flex;
                justify-content: end;
                

                button{
                    height: 100%;
                    width: 30%;
                    margin-left: 10%;
                    font-size: 18px;
                    border-radius: 5px;
                    color: $newMainColor;
                    background-color: $newSecondAccentColor;
                    border: 2px solid $newAccentColor;
                }
            }
        }
            

    }
      
}


@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
[hidden]{
    display:none !important;
}