@import '../../global.scss';


.navbar {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: $accentColor;
    font-family: 'IBM Plex Sans', sans-serif !important;


    .title{
        width:50%;
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;
        

        h1{
            font-weight: 700;
            font-size: 36px;
            margin-left: 30px;
            color: $newMainColor;
        }
    }

    .menu {
        height: 100%;
        width: 50%;
        float: right;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        justify-content: end;
        color: $newTextColor;

        #gSelect{
            color: $newTextColor;
        }

        #gSelect:hover {
            color: #FFFFFF;
        }

        #createBtn{
            border-radius: 5px;
            color: $newMainColor;
            border: 2px $newAccentColor solid;
            font-weight: 600;
        }

        #loginBtn{
            border-radius: 5px;
            color: #FFFFFF;
            background-color: $newMainColor;
            font-weight: 600;
        }

        

        ul{
            display: flex;
            flex-direction: row;
            float: right;
            li{
                padding: 5px 15px 5px 15px;
                list-style: none;
                text-decoration: none;
                margin-right:30px;

                .navHome{
                   list-style: none; 
                   text-decoration: none;
                   font-weight: 700;
                   font-size: 24px;
                   color: $newTextColor;
                }
                
                .navHome:hover{
                    font-size: 25px;
                    border-bottom: solid 4px $newMainColor;
                }

                
            }
        }

        ul {
            li {
                #gSelect {
                    background-color: aqua;
                }
            }
        }
    }

}