@import '../../global.scss';

.wrapperBugReport {
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    width: 100%;

    h1{
        font-size: 40px;
        text-align: center;
        color: var(--main-accent-color);
        margin: 20px;
    }

    p{
        font-size: 18px;
        margin: 20px;
        text-align: center;
        color: var(--second-text-color);
        width: 39%;
    }

    .contact-form{
        margin-top: 20px;
        width: 40%;

        ul{
            padding: 20px;
            margin: 0;
            


            li{
                list-style: none;
                display: block;
                margin-bottom: 10px;
                margin-top: 10px;
                position: relative;
                clear: both;
                overflow: hidden;
                border-radius: 10px;
            }

            li.left {

                width: 49%;
                float: left;
                clear: none;
                margin-left: 2%;

                &:first-child{
                    margin-left: 0;
                }

            }

        }

        input[type='text'],
        input[type='email']{
            background-color: #f2f1f7;
            color: black;
            width: 100%;
            border: 0;
            font-size: 15px;
            padding: 10px;
            box-sizing: border-box;
            height: 80px;
        }

        textarea{
            width: 100%;
            box-sizing: border-box;
            border: 0;
            font-size: 15px;
            height: 300px;
            padding: 10px;
            background-color: #f2f1f7;
            color: var(--bg-color);
            resize: none;
           
        }

        .submit-button{

            height: 50px;
            margin: 0px 0px 9px 9px;
            width: 20%;
            background-color: var(--main-color);
            float: right;
            font-size: 15px;
            color: var(--stat-text-color);
            border-style: none;
            border-radius: 5px;
            box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
            border-color: transparent;

        }
    }
}