:root {
  --bg-color: #111111;
  --main-color: #4A90F3;
  --main-accent-color: #FFCF00;
  --second-accent-color:#D9D7D9;
  --second-text-color: #FFFFFF;
  --stat-text-color: #FFFFFF;
  --text-color: #120E11;
} 

// blue color: 4A90F3 or 0B72CD