$darkColor: #4D5061;
$accentColor: #E8C547;
$textColor: #CDD1C4;
$contrast: #4D5061;

// 5C80BC

// 30323D

$newMainColor: #0B72CD;
$newTextColor: #120E11;
$newAccentColor: #FFCF00;
$newBackGroundColor: #FFFFFF;
$newSecondMainColor: #4A90F3;
$newSecondAccentColor: #D9D7D9;

$bg-color: #111111;